* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #eaad07;
  --color-primary-dark: #bf9418;
  --color-dark: #060504;
  --color-light: #f8f8f7;
  --color-accent-dark: #543512;
  --color-accent-medium: #9e6724;
  --color-text-gray: #a4a8ad;
  --color-neutral: #665657;
  --color-gray: #80808085;
}

body {
  color: var(--color-dark);
  line-height: 1.5;
  background-color: #111;
  overflow-x: hidden;
  max-width: 1300px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
}

/* nav section */

.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-light);
}

.left-section img {
  width: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 1rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #0c0c0c;
}

.middle-section {
  display: flex;
  gap: 2rem;
  background-color: #363325;
  border-radius: 20px;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  color: var(--color-light);
}
.nav ul {
  list-style: none;
}
.nav ul a {
  color: var(--color-light);
}

a {
  text-decoration: none;
}

.right-section {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.right-section p {
  color: var(--color-light);
}
.right-section i {
  color: var(--color-primary-dark);
}
.download-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-section a {
  background-color: var(--color-primary);
  padding: 0.5rem;
  border-radius: 20px;
  text-transform: uppercase;
  color: var(--color-dark);
  font-weight: 600;
  letter-spacing: -2px;
  display: inline-block;
}

.download-section ion-icon {
  color: var(--color-dark);
  font-size: 1rem;
}

.nav-forward {
  padding: 0.8rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  margin-left: -5px;
  display: inline-block;
}

.menu-icon {
  display: none;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 60px);
  padding-inline: 3rem;
  padding-block: 6rem;
  /* background: radial-gradient(circle at top left, #1a1a1a, #000); */
  gap: 2rem;
}
.hero-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  color: var(--color-light);
  flex: 1;
  position: relative;
}

.download-section-p {
  margin-left: 10px;
}

.hero-text h1 {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.stats {
  display: flex;
  gap: 2rem;
  font-size: 14px;
  justify-content: flex-start;
}

.stats .numbers {
  font-size: 2.5rem;
}

.hero-img {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
.blob-1 {
  background-color: var(--color-light);
  border-radius: 10px;
  max-width: 180px;
  width: 100%;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 5px;
  z-index: 2;
  padding: 1rem;
  color: var(--color-dark);
}

.blob-1 i {
  color: var(--color-primary);
}
.blob-1 p:first-child {
  font-size: 3rem;
  color: var(--color-dark);
  font-weight: 700;
}
.blob-1 p:last-child {
  color: var(--color-text-gray);
}

.h1-blob {
  display: flex;
  background-color: var(--color-primary);
  justify-content: space-evenly;
  gap: 0.5rem;
  border-radius: 30px;
  position: absolute;
  top: 15%;
  left: 50%;
  padding: 0.5rem;
}
.h1-blob p {
  font-size: 0.8rem;
  color: var(--color-dark);
  font-weight: 700;
}

.h1-blob img {
  width: 30px;
  border-radius: 20px;
}

.blob-2 {
  background-color: var(--color-primary);
  width: 180px;
  height: 200px;
  border-radius: 10px;
  color: var(--color-neutral);
  padding: 1rem;
  position: absolute;
  right: 1%;
  top: 5%;
}
.blob-2 h2 {
  text-transform: uppercase;
  color: var(--color-dark);
}
.blob-2 .instructions {
  color: var(--color-neutral);
  font-size: 14px;
}

.blob-2 .action {
  font-weight: 700;
  color: var(--color-dark);
  letter-spacing: -1px;
  margin-top: 0.5rem;
}
.blob-2.arrow {
  height: 40px;
  display: inline-block;
}
.blob2-icons img {
  width: 30px;
}

/* FEATURES SECTION */
.features {
  margin: 4rem auto;
  text-align: center;
}

.section-heading {
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-accent-dark);
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid var(--color-primary);

  max-width: 150px;
  font-size: 0.8rem;
  margin: 1.5rem auto 4rem;
  font-weight: 600;
}

.features .big-text {
  font-size: 5rem;
  text-align: center;
  color: var(--color-light);
  font-weight: 700;
  line-height: 1;
  padding-inline: 2rem;
}
.features video {
  width: 90%;
  height: 30rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  object-fit: cover;
}

.features .details {
  text-align: start;
  margin-left: 4rem;
  color: var(--color-light);
  font-size: 0.8rem;
}
.video-details {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* SERVICE SECTION */

.service-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-block: 10rem;
  /* background-color: #1a1a1a; */
  gap: 4rem;
  color: var(--color-light);
}

.service-heading {
  color: var(--color-primary);
  background-color: var(--color-accent-dark);
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid var(--color-primary);
  margin-bottom: 4rem;
  max-width: 200px;
  font-size: 0.8rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-weight: 600;
  text-align: center;
}

.service-right img {
  max-width: 450px;
  height: 450px;
  width: 100%;
  border-radius: 20px;
}

.service-left {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.service-section h2 {
  font-size: 2.2rem;
  line-height: 1;
  margin-bottom: 2rem;
  text-transform: uppercase;
  padding-left: 2rem;
}

.service-section .form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 15px;
  /* background-color: #222; */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

.form-item {
  display: flex;
  justify-content: space-between;
}

.form label {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}
.form label img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.form select {
  background-color: #1a1a1a;
  color: var(--color-primary-dark);
  border: none;

  padding: 0.8rem;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  /* width:5px;
  height:5px; */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 300px;
  height: 40px;
}

.form select:hover,
.form select:focus {
  border-color: var(--color-primary);
  background-color: #111;
}
.form label i {
  font-size: 2rem;
  color: var(--color-primary-dark);
}

/* BENEFITS SECTION */
.benefits-heading {
  color: var(--color-primary);
  background-color: #0c0c0c;
  padding: 0.5rem;
  border-radius: 20px;
  border: 1px solid var(--color-primary);
  margin-bottom: 4rem;
  max-width: 250px;
  font-size: 0.8rem;
  margin: 1.5rem auto;
  font-weight: 600;
  text-align: center;
}

.benefits {
  position: relative;
  background: #111;
  color: var(--color-light);
  padding: 6rem 0;
  text-align: center;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
}

.benefits-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-center {
  position: relative;
  z-index: 5;
  margin-bottom: 3rem;
}

.benefits-center img {
  max-width: 300px;
  height: 600px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  position: relative;
  z-index: 10;
}
.benefits-h2 {
  color: var(--color-light);
  text-align: center;
  margin-bottom: 8rem;
  font-size: 3rem;
  letter-spacing: -1px;
}

/* RINGS */
.yellow-ring,
.yellow-ring-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  z-index: 1;
  background: radial-gradient(
    circle,
    rgba(255, 215, 0, 0.3) 0%,
    transparent 70%
  );
}

.yellow-ring-outer {
  width: 600px;
  height: 600px;
  opacity: 0.2;
  z-index: 0;
  background: radial-gradient(
    circle,
    rgba(255, 215, 0, 0.2) 0%,
    transparent 80%
  );
}

.yellow-ring {
  width: 350px;
  height: 350px;
  z-index: 1;
}

.card i {
  font-size: 2rem;
  color: var(--color-primary-dark);
}

.card {
  position: absolute;
  background-color: #1a1a1a;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 20px 20px;
  color: var(--color-light);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  text-align: start;
  /* width:250px; */
}
.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  font-size: 1.2rem;
  margin-block: 0.5rem;
}
.card p {
  font-size: 0.9rem;
}

/* LEFT SIDE */
.card-1 {
  top: -10%;
  left: 10%;
}
.card-2 {
  top: 35%;
  left: 5%;
  /* */
}
.card-3 {
  top: 80%;
  left: 7%;
  /* transform: translateX(-40px); */
}

/* RIGHT SIDE */
.card-4 {
  top: -10%;
  right: 10%;
}
.card-5 {
  top: 35%;
  right: 5%;
  /* transform: translateX(20px); */
}
.card-6 {
  top: 80%;
  right: 6%;
}

/* TESTIMONIAL SECTION */

.testimonials {
  padding-inline: 5rem;
  margin-bottom: 10rem;
}

.quote-mark {
  color: var(--color-primary);
  font-size: 5rem;
  font-weight: 900;
}
.testimonials .testimonial-p {
  color: var(--color-light);
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
}

.testimonial-below {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light);
  padding-inline: 3rem;
  margin-top: 2rem;
}

.test-details {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.test-details-1 {
  font-size: 0.9rem;
  text-align: left;
}
.test-details img {
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.test-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.arrows {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  /* margin-top: 1rem; */
}
.arrows ion-icon {
  font-size: 2.5rem;
  color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease;
}

.arrow ion-icon:hover {
  transform: scale(1.2);
  color: #eaad07;
}

/* FAQ SECTION */
.faq-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-inline: 5rem;
  color: var(--color-light);
  margin-block: 10rem;
  gap: 3rem;
  align-items: start;
}

.faq-left-p {
  background-color: var(--color-neutral);
  color: #bf9418;
  border-radius: 20px;
  /* width: 180px; */
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.faq-left h2 {
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.faq-left p:last-child {
  font-size: 1rem;
}

/* ACCORDION SECTION */

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  /* align-items: center; */
  gap: 1rem;
}
.accordion-item {
  margin-bottom: 10px;
  /* border:1px solid #ddc; */
  border-radius: 4px;
  overflow: hidden;
  /* background-color: #fff; */
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.05);
}

.accordion-header {
  /* width:100%; */
  cursor: pointer;
  text-align: left;

  /* border: none;
  outline: none; */

  font-weight: 600;
  position: relative;
  font-size: 0.8rem;
  padding: 1rem 1.5rem;
  background-color: #1a1a1a;
  color: var(--color-light);
}

.accordion-header:hover {
  background-color: #2a2a2a;
}
.accordion-header::after {
  content: "+";
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
  color: #f1c40f;
  margin-top: -10px;
}
.accordion-header.active::after {
  content: "-";
}

.accordion-content {
  background-color: var(--color-dark);
  /* border:1px solid #ddd; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
  padding: 0 1.5rem;
}

.accordion-content p {
  margin: 1rem 0;
}

.accordion-content.open {
  max-height: 200px;
  padding: 1rem 1.5rem;
}
/* CTA SECTION */
.cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-primary);
  margin: 5rem auto;
  padding-block: 1.5rem;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.cta-left {
  padding-left: 2rem;
  flex: 1;
}

.cta-btn {
  background-color: transparent;
  border: 2px solid var(--color-accent-medium);
  margin-bottom: 3rem;
  border-radius: 20px;
  padding: 5px 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.cta-btn:hover {
  background-color: #111;
  color: #eaad07;
}

.cta-left h2 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.cta-left p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.cta-download-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cta-download {
  background-color: var(--color-light);
  padding: 7px 9px;
  border-radius: 20px;
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: 700;
  display: inline-block;
}

/* .cta-download-section ion-icon{
  font-size: 1rem;
  display: inline-block;

} */

.cta-arrow {
  cursor: pointer;
  background-color: var(--color-light);
  border-radius: 50%;
  font-size: 1rem;
  /* margin-top: -32px; */
  margin-left: -10px;
  display: inline-block;
  padding: 0.8rem;
}

.cta-right {
  flex: 1;
  display: flex;
  justify-content: center;
  /* gap:1rem; */
}

.cta-right img {
  width: 30%;
  border-radius: 10px;
}

.cta-right img:nth-child(2) {
  transform: scale(1.1);
  z-index: 2;
}

/* FOOTER SECTION */
.first-row {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

.first-row h2 {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 2rem;
  color: var(--color-light);
  text-transform: uppercase;
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}

.links h3 {
  color: var(--color-light);
}

.links ul {
  list-style: none;
}

.div-1 ul li a,
.div-2 ul li a {
  color: var(--color-text-gray);
}
.links a {
  text-decoration: none;
}

/* ROW 2 */
.second-row {
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
  padding-inline: 3rem;
  margin-bottom: 2rem;
}

.applications {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.app-content p {
  color: var(--color-light);
  font-size: 0.9rem;
}

.appstore,
.google-play,
.appgallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid var(--color-gray);
  border-radius: 8px;
  padding: 0.5rem;
}

.appstore img,
.google-play img,
.appgallery img {
  width: 30px;
}

.icons {
  display: flex;
  gap: 4rem;
  color: var(--color-light);
  font-size: 1rem;
  color: var(--color-primary-dark);
}

.icons h3 {
  color: var(--color-light);
}
/* third row */

.third-row {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  margin-bottom: 3rem;
}

.third-row p {
  color: var(--color-light);
}

.third-row-links a {
  color: var(--color-light);
  font-size: 0.8rem;
  text-decoration: underline;
  display: inline-flex;
}

/* Fourth row */
.fourth-row {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
}
.fourth-row h2 {
  color: var(--color-primary-dark);
  font-size: 12rem;
  font-weight: 300;
  flex: 1;
}
.fourth-row-img {
  flex: 1;
}

.fourth-row-img img {
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  background-image: none;
}

/* INTRO ANIMATION */
.intro-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

.screenshots {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.screenshot {
  width: 45%;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  opacity: 1;
}

/* Mobile screenshot smaller */
.screenshot.mobile {
  width: 25%;
  max-width: 250px;
}

/* Hide*/
body > *:not(.intro-animation) {
  opacity: 0;
}

.circle-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  background-color: transparent;
  pointer-events: none;
}

.circle-bg {
  width: 180px;
  height: 180px;
  background: radial-gradient(
    circle at center,
    #eaad07 0%,
    #111 25%,
    #eaad07 55%,
    #bf9418 75%,
    #000 100%
  );
  border-radius: 50%;
  transform: scale(0);
  opacity: 0;
  filter: blur(5px);
}
